# Backend
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.ex.mongodb.net/moodmate
JWT_SECRET=moodmate_secret_key_2025
OPENAI_API_KEY=sk-proj-xxxx...

# Frontend
VITE_API_URL=http://localhost:5000/api
